<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="frame">
        <div class="main-con">
            <div class="wrapp-left">
                <div class="left-row-1">
                    <div class="left_1-1">
                        <img src="images/profile.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector.svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (1).svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/2.svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (3).svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (4).svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector (5).svg" class="icon-1">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-row-2">
                    <div class="wrapp-flex-1">
                        <p>Age:</p>
                        <p>Recidance:</p>
                        <p>Freelance:</p>
                        <p>Address:</p>
                    </div>
                    <div class="wrapp-flex-2">
                        <p>24</p>
                        <p>BD</p>
                        <p style="color: rgba(126, 185, 66, 1);
;">Available</p>
                        <p>Seoul, Korea</p>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-row-3">
                    <h5>Languages</h5>
                    <div class="wrapp-languages">
                        <p>Uzbek</p>
                        <p style="margin-left: 140px;">100%</p>
                    </div>
                    <img src="icon/Line.svg" alt="">


                    <div class="wrapp-languages-2">
                        <p>Korean</p>
                        <p style="margin-left: 140px;">90%</p>
                    </div>
                    <img src="icon/line2.svg" alt="">


                    <div class="wrapp-languages-3">
                        <p>Russian</p>
                        <p style="margin-left: 140px;">70%</p>
                    </div>
                    <img src="icon/line3.svg" alt="">
                </div>
                <div class="marginer"></div>
                <div class="left-row-4">
                    <h5>Skills</h5>
                    <div class="wrapp-row-1">
                        <p>HTML</p>
                        <p style="margin-left: 140px;">100%</p>
                    </div>
                    <img src="icon/Line.svg" alt="">


                    <div class="wrapp-row-2">
                        <p>CSS</p>
                        <p style="margin-left: 140px;">90%</p>
                    </div>
                    <img src="icon/line2.svg" alt="">


                    <div class="wrapp-row-3">
                        <p>Js</p>
                        <p style="margin-left: 140px;">70%</p>
                    </div>
                    <img src="icon/line3.svg" alt="">


                    <div class="wrapp-row-4">
                        <p>Nodejs</p>
                        <p style="margin-left: 140px;">70%</p>
                    </div>
                    <img src="icon/line3.svg" alt="">


                    <div class="wrapp-row-5">
                        <p>React</p>
                        <p style="margin-left: 140px;">70%</p>
                    </div>
                    <img src="icon/line3.svg" alt="">
                </div>
                <div class="marginer"></div>
                <div class="left-row-5">
                    <h5>Extra Skills</h5>
                    <div class="extra-skills">
                        <img src="icon/icons.svg" alt="">
                        <p>Bootstrap, Materialize</p>
                    </div>

                    <div class="extra-skills">
                        <img src="icon/icons.svg" alt="">
                        <p>Stylus, Sass,Less</p>
                    </div>

                    <div class="extra-skills">
                        <img src="icon/icons.svg" alt="">
                        <p>Gulp, Webpack, Grunt</p>
                    </div>

                    <div class="extra-skills">
                        <img src="icon/icons.svg" alt="">
                        <p>GIT Knowledge</p>
                    </div>



                </div>
                <div class="marginer"></div>


            </div>
            <div class="wrapp-midd">
                <div class="midd-cont">
                    <div class="midd-cont-wrapp1">
                        <h1>Doctor neurologists in OHSU Hospital</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat
                            lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                        <button><a>HIRE ME~</a></button>
                    </div>
                    <div class="midd-cont-wrapp2">
                        <img src="images/55.png" alt="">
                    </div>
                </div>
                <div class="midd-cont-end">
                    <h1>my services</h1>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. lorem ipsum</p>

                    <div class="grid-con">
                        <div class="grid-items">
                            <img src="icon/coding.png" alt="">

                             <h5>Web development</h5>
                             <small>blog, e-commerce</small>
                        </div>
                        <div class="grid-items">
                            <img src="icon/ilus.png" alt="">

                             <h5>UI/UX design</h5>

                             <small>Mobile app, website design</small>
                        </div>
                        <div class="grid-items">
                            <img src="icon/Microphone.png" alt="">

                             <h5>Sound design</h5>

                             <small>Voice Over, Beat Making</small>
                        </div>
                        <div class="grid-items">
                            <img src="icon/game-development.png" alt="">

                             <h5>Game design</h5>

                             <small>Character Design, Props & Objects</small>
                        </div>
                        <div class="grid-items">
                            <img src="icon/Photographer.png" alt="">

                             <h5>photography</h5>

                             <small>portrait, product photography</small>
                        </div>
                        <div class="grid-items">
                            <h5>Advertising</h5>
                            <small style="margin-bottom: 50px;">Lorem ipsum dolor Vitae nulla diam in ac dictum a
                                urna viverra morbi. </small>

                            <b>ORDER NOW</b>
                        </div>
                    </div>


                </div>
            </div>
            <div class="wrapp-right">
                <div class="logo-icon">
                    <img src="btn_icon/contrast.svg" alt="">
                </div>
                <div class="icons-but">
                    <img src="btn_icon/home.svg" alt="">
                    <img src="btn_icon/service.svg" alt="">
                    <img src="btn_icon/cv.svg" alt="">
                    <img src="btn_icon/portfolio.svg" alt="">
                    <img src="btn_icon/blog.svg" alt="">
                    <img src="btn_icon/sms.svg" alt="">
                </div>
            </div>
        </div>
    </div>

</body>

</html>